{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

<style>
#draggable { width: 150px; height: 150px; padding: 0.5em; }
.fs-1 {
font-family: font-family: 'Roboto', sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 50px;
}

body {
  background-image: url('mars.jpeg');
}

</style>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( ".draggable" ).draggable();
} );

$( function() {
  $( "#draggable2" ).draggable();
} );

$( function() {
  $( "#tabs" ).tabs();
} );
</script>

  </head>

  <body>
    <center> <div class="row pt-3">
        <div class="col">
      <p class="fs-1">Build your world<img src="{% static 'images/world.png' %}" alt="..." height="40" width="40"></p>
      </div>
    </div></center>

    <center><div class="row">
      <div class="col">
    <p class="fs-2">Drag and Drop Objects</p>
    </div>
  </div></center>

    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Animals</a></li>
        <li><a href="#tabs-2">Structures</a></li>
        <li><a href="#tabs-3">Random</a></li>
      </ul>
<p class="fs-2"> Available Objects:</p>
      <div id="tabs-1">
        <div class= "row">
        <div class= "col">
        <div class="draggable">
          <img src="{% static 'images/horse.png' %}"  alt="..." width="150" height="150">
        </div></div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/cow.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/pig.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/goat.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/chicken.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/sheep2.png' %}"  alt="..." width="130" height="130">
        </div>
        </div>
      </div>
    </div>

      <div id="tabs-2">
        <div class= "row">
        <div clas= "col">
        <div class="draggable">
          <img src="{% static 'images/building.png' %}"  alt="..." width="150" height="150">
        </div></div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/cabin.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/house.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/igloo.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/pyramid.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
         <div class="draggable">
          <img src="{% static 'images/tent.png' %}"  alt="..." width="130" height="130">
        </div>
        </div>
      </div>
      </div>


      <div id="tabs-3">
        <div class= "row">
        <div clas= "col">
        <div class="draggable">
          <img src="{% static 'images/boat.png' %}"  alt="..." width="150" height="150">
        </div></div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/drone.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/eiffel.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/lorax.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/spaceship.png' %}"  alt="..." width="150" height="150">
        </div>
        </div>
        <div class="col">
        <div class="draggable">
          <img src="{% static 'images/pool.png' %}"  alt="..." width="130" height="130">
        </div>
        </div>
      </div>
      </div>
    </div>


<p>Chosen Objects:</p>

</body>

</html>
